{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{% static 'images/django.svg' %}" type="image/x-icon">
    <title>{% block page_title %}{% endblock page_title %}</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">

    {% block other_links %}{% endblock other_links %}
</head>
<body>
    {% block content %}{% endblock content %}

    <script src="{% static 'js/bootstrap.js' %}"></script>
    {% block other_scripts %}{% endblock other_scripts %}
</body>
</html>