{% extends '../partials/__base.html' %}
{% load static %}

{% block page_title %} {{ page_title }} {% endblock page_title %}

{% block content %}
    {% include '../partials/__navbar.html' %}
    <main class="container my-5">
        <div class="starter-template text-left py-5 px-3">

            <div class="px-3 py-1 mx-auto text-left">
                <h1 class="display-4">{{ page_title }}</h1>
                <form method="post">
                    {% csrf_token %}

                    {% for field in form %}
                        <div class="col-sm-6 mb-3">
                            <label for="{{ field.id_for_label }}" class="form-label">{{ field.label }}</label>
                            {{ field }}
                            {% comment %} <input
                                name="{{ field.name }}"
                                class="form-control"
                                id="{{ field.id_for_label }}"
                                {% if field.value %}
                                    value="{{ field.value }}"
                                {% endif %}
                            > {% endcomment %}
                        </div>
                    {% endfor %}

                    <input type="submit" class="btn btn-lg btn-primary" value="Submit">
                </form>
            </div>

        </div>
    </main>
{% endblock content %}